<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>BankID sign example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/main.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="/ros">Request object signature</a>&rsaquo;
      <a>Upload file</a>&rsaquo;
      <a>Authorize</a>&rsaquo;
      <a class="active">Callback</a>
    </nav>

    <h2>Authorization code</h2>
    <pre><%= code %></pre>

    <h2>Tokens</h2>
    <h3>Access token</h3>
    <pre><a href="https://jwt.io/#debugger-io?token=<%= tokens?.access_token %>" target="_blank"><%= tokens?.access_token %></a></pre>

    <h3>ID token</h3>
    <pre><a href="https://jwt.io/#debugger-io?token=<%= tokens?.id_token %>" target="_blank"><%= tokens?.id_token %></a></pre>

    <h2>Verified ID token</h2>
    <pre><%= JSON.stringify(verifiedIdToken, null, 2) %></pre>

    <h2>Signed document</h2>
    <% if (verifiedIdToken?.structured_scope.documentObject) { %>
      <a href="<%= verifiedIdToken?.structured_scope.documentObject.document_uri %>">Download</a>
    <% } else { %>
      There was no uploaded document.
    <% } %>

    <p><a href="/ros">Start over</a></p>
  </body>
</html>
