<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>BankID sign example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/main.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="/ros">Request object signature</a>&rsaquo;
      <a>Upload file</a>&rsaquo;
      <a>Authorize</a>&rsaquo;
      <a>Callback</a>
    </nav>

    <h2>Error</h2>
    <pre><%= JSON.stringify(error, null, 2) %></pre>

    <p><a href="/ros">Start over</a></p>
  </body>
</html>
