<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>BankID sign example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/main.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="/ros" class="active">Request object signature</a>&rsaquo;
      <% if (data?.upload_uri) { %>
        <a href="/upload/<%= data.request_uri %>/<%= uuid %>">Upload file</a>&rsaquo;
      <% } else { %>
        <a><s>Upload file</s> (no file)</a>&rsaquo;
      <% } %>

      <% if (!data?.upload_uri) { %>
        <a href="<%= authUri %>">Authorize</a>&rsaquo;
      <% } else { %>
        <a>Authorize</a>&rsaquo;
      <% } %>

      <a>Callback</a>
    </nav>

    <h2>Request object</h2>
    <pre><%= JSON.stringify(requestObject, null, 2) %></pre>

    <h2>Signed & encrypted request object</h2>
    <pre><a href="https://jwt.io/#debugger-io?token=<%= encryptedRequestObject %>" target="_blank"><%= encryptedRequestObject %></a></pre>

    <h2><code>/ros</code> response</h2>
    <pre><%= JSON.stringify(data ?? error, null, 2) %></pre>

    <% if (data) { %>
      <% if (data?.upload_uri) { %>
        Continue to <a href="/upload/<%= data.request_uri %>/<%= uuid %>">upload file</a>
      <% } else { %>
        Continue to <a href="<%= authUri %>">Authorize</a>
      <% } %>
    <% } else { %>
      <a href="/ros">Start over</a>
    <% } %>
  </body>
</html>
